# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache
.DS_Store
ClassificationProblems/.DS_Store
ClassificationProblems/SpamHam/.DS_Store
ClassificationProblems/SpamHam/.ipynb_checkpoints/spam_ham_nb-checkpoint.ipynb
ClassificationProblems/TelcoChurn/.DS_Store
